*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-transform: uppercase;
    padding: 20px 80px;
    margin: 10px;
    text-align: center;
}

.container {
    padding: 10px 80px;
}

/*Navbar section*/

.nav{
    list-style: none;
    display: inline-block;
}

.nav-item{
    margin: 15px;
    display: inline-block;
}

.nav-item a{
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: 600;
}

.logo{
    vertical-align: middle;
    display: inline-block;
    margin: 20px;
}

.bigpic{
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 200px;
}

.bigpic>img{
    width: 100%;
}


